div.editInfoWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}
span#editInfoTitle{
    /* width: 100px; */
    font-size: 2em;
    font-weight: bold;
}
form.editInfoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
tr{
    height: 50px;
}
td.txt{
    width: 150px;
}
td.loginInfo{
    padding: 0;
}
input.info{
    width: 200px;
    height: 40px;
}
div.checkboxes{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.option{
    padding-left: 10px;
}
div.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input#editBtn{
    width: 170px;
    height: 50px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    cursor: pointer;
}
input#deleteBtn{
    width: 170px;
    height: 50px;
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
}